.ui-widget .spinner {
    font-size: 1.5em;
    width: 2.5em;
    padding: 0.2em;
    line-height: 1.5;
}

.ui-spinner {
    margin-left: 1em;
}

.main-sidebar {
    font-size: 1em;
}

.main-sidebar div {
    padding: 0.5em;
}

#factorcontribution_box .shiny-input-container {
    float: left;
    width: 50%;
}
